.header{
    display: flex;    
    align-items: center ;
    justify-content: space-between;
    z-index: 200;
    border-bottom: 1px solid #f9f9f9;
    height: auto;
}


.header__logo
{
    object-fit: contain ;
    height: 40px;
}
.header_icons
{
    padding: 20px;

}